*{
    margin: 0;

}

.team-list{
    height: 100vh;
    align-items: center;
    
}

.team-content h1{
    text-align: center;
}

.team-table table{
    margin: auto;
    margin-top: 20px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
}

.team-table thead{
    background-color: chartreuse;
    
}

.team-table th, td{
    border: 1px solid black;
    padding: 20px;
    text-align: left;
}

.team-table th{
    font-weight: bold;
    font-size: 150%;
}

.team-table tbody tr:hover{
    background-color: #e0e0e0;
}
