/* Search Bar Container */

/* SearchBar.css */

.search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    width: 400px; /* Adjust the width as needed for a thin and wide appearance */
  }
  
  .search-button {
    padding: 50px;
    border: none;
    border-radius: 10px;
    background-color: #2c2ea5;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  
  .search-button:hover {
    background-color: #2c2ea5;
  }
  
  .search-bar-container {
    position: relative;
    width: 200px; /* Adjusted width */
  }
  
  /* Search Bar */
  .search-bar {
    position: absolute;
    width: 400px; /* Adjusted width */
    height: 26.18px;
    left: 300px;
    display: flex;
    top: 11.45px;
  }
  
  /* Background Rectangle */
  .background-rectangle {
    position: relative;
    width: 50px; /* Adjusted width */
    height: 26.18px;
    left: 80px;
    top: 0;
    background: #F3F9FB;
    border-radius: 10px;
  }
  
  /* Search Container */
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 60px;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 80px;
    top: 90px;
  }
  
  /* Search Icon */
  .search-icon {
    width: 14px; /* Adjusted width */
    height: 14px; /* Adjusted height */
  }
  
  /* Search Icon Container */
  .search-icon-container {
    position: absolute;
    left: 11.58%;
    right: 10.24%;
    top: 11.57%;
    bottom: 8.33%;
  }
  
  /* Ellipse */
  .ellipse {
    position: absolute;
    left: 11.58%;
    right: 13.52%;
    top: 11.57%;
    bottom: 13.52%;
    border: 1.5px solid rgba(42, 79, 151, 0.96);
  }
  
  /* Decorative Line */
  .decorative-line {
    position: absolute;
    left: 75.08%;
    right: 10.24%;
    top: 77.02%;
    bottom: 8.33%;
    border: 1.5px solid rgba(42, 79, 151, 0.96);
  }
  
  /* Text Input */
  .text-input {
    width: 80px; /* Adjusted width */
    height: 18px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #666666;
  }
  