
*{
    margin: 0;
}

.admin_sidebar{
    height: 100%;
    width: 250px;
    background-color: #5F4B8BFF;
  }
  
  .admin_sidebarlist{
    height: auto;
    padding: 0;
    width: 100%;
  }

  .admin_sidebarlist .row{
    display: grid;
    grid-template-columns: 30% 70%;
    height: 70px;
    list-style-type: none;
    margin: 0;
    color: white;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .admin_sidebarlist .row:hover{
    cursor: pointer;
    background-color: #293846;
  }
  
  .admin_sidebarlist #active{
    background-color: #293846;
  }
  
  .row #icon{
    flex: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row #title{
    flex: 70%;
    display: flex;
    align-items: center;
  }

  .row #title,
  .row #icon{
    font: 18px;
  }