*{
    margin: 0;
}

.admin_products{
    background-color: darkkhaki;
    text-align: center;
    align-items: center;

}

.admin_products h1{
    font-size: 250%;
    padding: 10px;
}

.products_table{
    width: 90%;
}

.products_table, th{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
    margin: auto;
    text-align: center;
}

.products_table th, td{
    text-align: center;
    padding: 10px;
}

.products_table img{
    width: 150px;
    height: 150px;
}