*{
    margin: 0;
}

.users_table{
    margin-top: 50px;
    height: 72vh;
}

.users_table h3{
    text-align: center;
    font-size: 220%;
}

.users_table table{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    width: 100%;
}

.users_table th, td{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.users_table th{
    font-weight: bold;
    font-size: 150%;
}

.users_table tbody tr:hover{
    background-color: #e0e0e0;
}